.contactRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
  .social {
    margin-bottom: 50px;
  }
  @media (min-width: 550px) {
    flex-direction: row;
    .social {
      margin-bottom: 0;
    }
  }
}

.social,
.email {
  width: 50%;
  text-align: center;
  h5 {
    margin: 15px auto;
  }
  a {
    display: inline-block;
    color: var(--secondaryColor);
    transition: all 0.4s ease-in-out;
    &:hover {
      color: var(--primaryColor);
    }
  }
  a:first-of-type svg {
    margin-right: 10px;
  }
  svg {
    display: block;
    width: 25px;
    height: 25px;
    fill: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
    &:hover {
      fill: var(--primaryColor);
    }
  }
}

.icon {
  display: block;
  width: 25px;
  margin: auto;
}

.form {
  max-width: 900px;
  margin: 0 auto 100px;
  input[type='text'],
  input[type='email'],
  textarea,
  select {
    appearance: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid transparentize(#dfd3c3, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    color: var(--secondaryColor);
    font-size: var(--lSize);
    line-height: 1;
    outline: none;
    transition: all 0.3s ease-in-out;
    background: transparent;
    &:focus,
    &:hover,
    &:active {
      background: transparent;
      border-bottom: 1px solid var(--primaryColor);
    }
  }
  textarea {
    height: 150px;
    resize: none;
  }
}

.formRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.formCol {
  width: 100%;
  @media (min-width: 550px) {
    width: 50%;
    padding: 0 15px;
  }
}

.formRowFull {
  width: 100%;
  @media (min-width: 550px) {
    padding: 0 15px;
  }
}
