.rowArticles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.blogPage {
  flex-direction: column-reverse;
  .sidebarCol:last-of-type {
    display: none;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    .sidebarCol:last-of-type {
      display: block;
    }
  }
}

.sidebar {
  width: 100%;
  @media (min-width: 992px) {
    position: sticky;
    top: 100px;
    align-self: start;
    width: 25%;
    padding-left: 25px;
    text-align: right;
  }
}

.sidebarCol {
  h3 {
    margin-bottom: 15px;
  }
  .card:not(:last-of-type) {
    margin-bottom: 25px;
  }
  .card h4 {
    font-size: var(--lSize);
  }
  .cardImage {
    max-height: 175px;
  }
  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.articlesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(375px, 100%), 1fr));
  gap: 25px;
  @media (min-width: 992px) {
    width: 75%;
  }
}

.card {
  position: relative;
  a {
    display: block;
    color: var(--primaryColor);
  }
  h4 {
    cursor: pointer;
  }
  &:hover h4 {
    color: var(--secondaryColor);
  }
}

.reactCard,
.nextCard,
.jsCard {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }
  &::before {
    width: 2px;
    height: 25px;
  }
  &::after {
    width: 75px;
    height: 2px;
  }
  &:hover {
    &:after {
      width: 100%;
    }
    &:before {
      height: 0;
    }
  }
}

.jsCard {
  &::before,
  &::after {
    background: #f0db4f;
  }
  .cardMetaCat {
    color: #f0db4f;
  }
}

.reactCard {
  &::before,
  &::after {
    background: #61dbfb;
  }
  .cardMetaCat {
    color: #61dbfb;
  }
}

.nextCard {
  &::before,
  &::after {
    background: var(--primaryColor);
  }
  .cardMetaCat {
    color: var(--primaryColor);
  }
}

.cardImage {
  position: relative;
  width: 100%;
  height: 250px;
}

.cardInfo {
  padding: 25px 15px;
  box-shadow: var(--boxShadowAlt);
}

.cardMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: var(--smSize);
}

.articleContent {
  width: 100%;
  margin-bottom: 50px;
  h1 {
    margin-top: 15px;
  }
  h2,
  h3,
  h4,
  p,
  li {
    margin-bottom: 15px;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  a {
    color: var(--primaryColor);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--secondaryColor);
    }
  }
  img {
    display: block;
    margin: 25px auto;
    width: 100%;
    max-width: 768px;
  }
  .social {
    display: flex;
    align-items: center;
    margin-top: 30px;
    &:before {
      content: '';
      display: inline-block;
      width: 75px;
      height: 1px;
      background-color: var(--primaryColor);
      margin-right: 15px;
    }
    span {
      line-height: 1;
    }
    svg {
      display: block;
      width: 22px;
      height: 22px;
      margin: 0 5px;
      fill: var(--secondaryColor);
      transition: all 0.3s ease-in-out;
    }
    svg:hover {
      fill: var(--primaryColor);
    }
  }
  @media (min-width: 992px) {
    width: 75%;
    max-width: 900px;
    margin-bottom: 0;
  }
}
