@import '@styles/animations.scss';

// Last Projects Section
.lastProjects {
  position: relative;
  margin-top: 50px;
}

// Projects Card Grid
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(460px, 100%), 1fr));
  gap: 25px;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .cardInfo {
      opacity: 1;
    }
    .cardImgSm {
      transform: translateX(0px);
    }
    .cardCategory {
      opacity: 1;
    }
  }
}

.cardImgBig,
.cardImgSm {
  position: relative;
  border-top: 16px solid var(--bodyColor);
  border-bottom: 16px solid var(--bodyColor);
  border-left: 8px solid var(--bodyColor);
  border-right: 8px solid var(--bodyColor);
  border-radius: 20px;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: top;
  }
}

.cardImgBig {
  width: 100%;
  height: 300px;
  box-shadow: var(--boxShadowAlt);
  @media (min-width: 550px) {
    width: 525px;
  }
  @media (min-width: 900px) {
    width: 425px;
  }
  img {
    animation-name: thAnim;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

.cardInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparentize(#1e1e28, $amount: 0.4);
  z-index: 22;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  svg {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    stroke: var(--secondaryColor);
  }
}

.cardImgSm {
  position: relative;
  display: none;
  width: 100%;
  max-width: 125px;
  height: 250px;
  transform: translateX(-35px);
  box-shadow: var(--boxShadow);
  transition: all 0.5s ease-in-out;
  @media (min-width: 550px) {
    display: block;
  }
}

.cardCategory {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins);
  font-size: var(--smSize);
  font-weight: 700;
  color: var(--secondaryColor);
  background: transparentize(#1e1e28, $amount: 0.4);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

[data-theme='light'] {
  .cardInfo h3 {
    color: var(--bodyColor);
  }
  .cardInfo svg {
    stroke: var(--bodyColor);
  }
  .cardCategory {
    color: var(--bodyColor);
  }
}

// Project Page
.project h1::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--secondaryColor);
  margin-right: 5px;
}

.gridProject {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(375px, 100%), 1fr));
  gap: 25px;
  align-items: center;
}

.info {
  span {
    display: block;
    font-family: var(--poppins);
    font-weight: bold;
    color: var(--primaryColor);
  }
  p:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .linkProject {
    margin-top: 50px;
  }
  @media (min-width: 768px) {
    padding-right: 100px;
  }
}

.projectImages {
  position: relative;
  height: 450px;
  @media (min-width: 600px) {
    height: 700px;
  }
}

.imgBackWrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 400px;
  right: 0;
  box-shadow: var(--boxShadowAlt);
  transform: translate(0, -50%);
  z-index: 1;
  @media (min-width: 500px) {
    width: 425px;
    transform: matrix3d(0.9, 0.12, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1)
      translate(0, -50%);
  }
  @media (min-width: 600px) {
    transform: matrix3d(0.9, 0.12, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1)
      translate(25px, -50%);
    width: 525px;
    height: 650px;
  }
}

.imgBackInner {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    object-position: top;
    animation-name: thAnim;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  @media (min-width: 500px) {
    img {
      object-fit: inherit;
      animation: none;
    }
  }
}

.imgFront {
  display: none;
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  max-width: 125px;
  height: 250px;
  border-top: 16px solid var(--wrapperColor);
  border-bottom: 16px solid var(--wrapperColor);
  border-left: 8px solid var(--wrapperColor);
  border-right: 8px solid var(--wrapperColor);
  border-radius: 20px;
  box-shadow: var(--boxShadowAlt);
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 3;
  transition: all 0.4s ease-in-out;
  img {
    object-fit: cover;
  }
  svg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    z-index: 3;
    animation-name: pulse;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  @media (min-width: 500px) {
    display: block;
  }
  @media (min-width: 600px) {
    max-width: 175px;
    height: 325px;
  }
}

.onTap {
  max-width: 375px;
  height: 200px;
  border-top: 8px solid var(--wrapperColor);
  border-bottom: 8px solid var(--wrapperColor);
  border-left: 16px solid var(--wrapperColor);
  border-right: 16px solid var(--wrapperColor);
  img {
    animation-name: thAnim;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  svg {
    display: none;
  }
}
